<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anping.yueche.dao.UserInfoDao">
  <select id="selectUserInfo" parameterType="String" resultType="com.anping.yueche.pojo.UserInfo">
    select user_no as userNo
          ,open_id as openId
          ,nick_name as nickName
          ,sex
          ,country
          ,province
          ,city
          ,head_img_url as headImgUrl
          ,privilege_list as privilegeList
          ,name
          ,phone
          ,addr
          ,id
          ,create_time as createTime
     from user_info 
    where open_id=#{openId}
  </select>
  
</mapper>
