<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>安 平 约 车</title>

    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">

    <!--
        <link rel="stylesheet" type="text/css" href="../../css/teachtools.css" th:href="@{/css/teachtools.css}">
        <script type="text/javascript" src="../../js/teachtools.js" th:src="@{/js/teachtools.js}"></script>
    -->

    <script type="text/javascript" src="../../jquery-3.1.1/jquery-3.1.1.min.js" th:src="@{/jquery-3.1.1/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" src="../../bootstrap-3.3.7/js/bootstrap.js" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>

</head>
<body>

<script type="text/javascript">
    $(document).ready(function() {
        /*  $("#btnOrderCar").click(function() {
         $.post("/yueche/orderCar", {
         "openId" : "lirongTest",
         "addrFrom" : "北京"
         }, function(data, status) {
         //alert("数据: \n" + data + "\n状态: " + status);
         });
         });
         }); */

        $("#btnCallService").click(function() {
            window.location.href = "tel:10086";
        });

        $("#btnOrderCar").click(function() {
            var saveDataAry = [];
            var data1 = {
                "openId" : "lirongTest",
                "addrFrom" : "北京"
            };
            saveDataAry.push(data1);
            /* var data2 = {
             "userName" : "ququ",
             "address" : "gr"
             };
             saveDataAry.push(data2);

             $.ajax({
             type : "POST",
             url : "/yueche/orderCar",
             dataType : "json",
             contentType : "application/json",
             data : JSON.stringify(data1),
             success : function(data) {
             location.href ="/yueche/index";
             }
             }); */
            //$("#orderPhone").val("1000000000000");
            // $("#departTime").val("2017/06/03 21:00:00");
            // $("#addrFrom").text("北京");
            // $("#addrTo").text("天津");
            //$("#frmOrderCar").attr("action","/yueche/orderCar");
            //$("#frmOrderCar").attr("method","POST");

            //$("#departTime").val($("#departDateList").val() + " " + $("#departTimeList").val());
            $("#frmOrderCar").submit();
        });
    });
</script>

<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#">安 平 约 车</a>
        </h4>
    </div>

    <form id="frmOrderCar" class="bs-example bs-example-form" role="form" method="POST" action=/yueche/orderCar>
        <div style="padding: 20px 30px 30px;">
            <input id="userNo" name="userNo" type="hidden" th:value="${userNo}"></input>
            <input id="openId" name="openId" type="hidden" th:value="${openId}"></input>
            <input id="nickName" name="nickName" type="hidden" th:value="${nickName}"></input>
            <input id="name" name="name" type="hidden" th:value="${name}"></input>
            <input id="departTime" name="departTime" type="hidden"></input>
            <div class="input-group row">
                <span class="input-group-addon">手机号码：</span>
                <input id="orderPhone" name="orderPhone" type="text" class="form-control" placeholder="请输入..." th:value="${orderPhone}"></input>
            </div>
            <br />
            <br />
            <div class="input-group row">
                <span class="input-group-addon">出发日期：</span>
                <select id="departDateList" name="departDateList" class="btn-success form-control">
                    <option th:each="item : ${departDateList}" th:value="${item.key}" th:text="${item.value}">2000-01-01</option>
                </select>
            </div>
            <br />
            <div class="input-group row">
                <span class="input-group-addon">出发时刻：</span>
                <select id="departTimeList" name="departTimeList" class="btn-success form-control">
                    <option th:each="item : ${departTimeList}" th:value="${item.key}" th:text="${item.value}">00:00</option>
                </select>
            </div>
            <br />
            <br />
            <div class="input-group row">
                <span class="input-group-addon">出发地：&emsp;</span>
                <select id="addrFrom" name="addrFrom" class="btn-success dropdown-toggle form-control">
                    <option th:each="item : ${addrFromList}" th:value="${item.key}" th:text="${item.value}">安平</option>
                </select>
            </div>
            <br />
            <div class="input-group row">
                <span class="input-group-addon">目的地：&emsp;</span>
                <select id="addrTo" name="addrTo" class="btn-success dropdown-toggle form-control">
                    <option th:each="item : ${addrToList}" th:value="${item.key}" th:text="${item.value}">北京</option>
                </select>
            </div>
            <br />
            <br />
            <div class=" row">
                <button id="btnOrderCar" type="button" class="btn-success form-control">约 ！</button>
                <br />
                <button id="btnCallService" type="button" class="btn-primary form-control">拨打客服：10086</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    //$(function () { $('#collapseTitle').collapse({
    //  toggle: false
    //})});
    //$(function () { $('#collapseTitle').collapse('show')});
    $(function() {
        $('#collapseTitle').collapse('toggle')
    });
    //$(function () { $('#collapseTitle').collapse('hide')});

    //$(window).on('load', function() {
    //     $('#usertype').selectpicker({
    //         'selectedText' : 'cat'
    //     });
    //  });
</script>


</body>
</html>