<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>安 平 约 车 管 理</title>

  <!-- 引入 Bootstrap -->
  <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/bootstrap-switch/css/bootstrap3/bootstrap-switch.css}">

  <script type="text/javascript" th:src="@{/jquery-3.1.1/jquery-3.1.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap-switch/js/bootstrap-switch.js}"></script>

</head>
<body>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title text-center">
      <a data-toggle="collapse" data-parent="#accordion" href="#">安 平 约 车 信 息 管 理</a>
    </h4>
  </div>

  <form id="frmCarOrderManage" class="bs-example bs-example-form" role="form" method="" action=/yueche/manage/orderCarInfo>
    <div style="padding: 10px 10px 10px;">
      <div class="row center-block text-center">
        <span class="text-danger">&emsp;待确认:&emsp; </span>
        <div class="bootstrap-switch bootstrap-switch-mini">
          <input type="checkbox" id="chkbxOrderStatusWaitConfirm" th:checked="${chkbxOrderStatusWaitConfirm}">
        </div>
      </div>
      <div class="row center-block text-center">
        <span class="text-danger">&emsp;待出发:&emsp; </span>
        <div class="bootstrap-switch bootstrap-switch-mini">
          <input type="checkbox" id="chkbxOrderStatusWaitDepart" th:checked="${chkbxOrderStatusWaitDepart}">
        </div>
      </div>
      <div class="row center-block text-center">
        <span class="text-danger">订单完成:&emsp; </span>
        <div class="bootstrap-switch bootstrap-switch-mini">
          <input type="checkbox" id="chkbxOrderStatusFinish" th:checked="${chkbxOrderStatusFinish}">
        </div>
      </div>
      <div class="row center-block text-center">
        <span class="text-danger">订单作废:&emsp; </span>
        <div class="bootstrap-switch bootstrap-switch-mini">
          <input type="checkbox" id="chkbxOrderStatusDelete" th:checked="${chkbxOrderStatusDelete}">
        </div>
      </div>
      <br/>
      <div class="row center-block text-center">
        <button id="btnSearch" type="button" class="btn btn-warning btn-sm btn-block">检索</button>
        <input id="selectedOrderStatusList" name="selectedOrderStatusList" type="hidden"></input>
      </div>
      <br/>

      <table class="table table-bordered table-striped">
        <tbody>
        <tr th:each="carOrderInfo : ${carOrderInfoList}" class="success1 active1 warning1 danger1">
          <td class="text-center">
            <strong><span class="text-danger" th:text="${carOrderInfo.carOrderId}"></span></strong>
          </td>
          <td>
            <span class="text-warning">手机号码:&emsp; </span>
            <span class="text-danger" th:text="${carOrderInfo.orderPhone}"></span>
            <br/>
            <span class="text-warning">出发时间:&emsp; </span>
            <span class="text-danger" th:text="${carOrderInfo.departTime}"></span>
            <br/>
            <span class="text-warning">&emsp;出发地:&emsp; </span>
            <span class="text-danger" th:text="${carOrderInfo.addrFrom}"></span>
            <br/>
            <span class="text-warning">&emsp;目的地:&emsp; </span>
            <span class="text-danger" th:text="${carOrderInfo.addrTo}"></span>
            <br/>
            <span class="text-warning">预约时间:&emsp; </span>
            <span class="text-muted" th:text="${carOrderInfo.orderTime}"></span>
          </td>
          <td>
            <strong><span th:id="${'orderStatus' + carOrderInfo.carOrderId}" class="text-danger" th:text="${carOrderInfo.orderStatus}"></span></strong>
            <br/>
            <span th:if="${carOrderInfo.orderStatus} == '待确认'">
              <button type="button" class="btn btn-warning btn-sm" th:id="${'btnOrderInfoOK_' + carOrderInfo.carOrderId}" th:value="${carOrderInfo.carOrderId}">订单确认</button>
              <br/>
            </span>
            <span th:if="${carOrderInfo.orderStatus} != '订单作废' and ${carOrderInfo.orderStatus} != '订单取消' and ${carOrderInfo.orderStatus} != '订单完成'">
              <button type="button" class="btn btn-success btn-sm" th:id="${'btnOrderFinish_' + carOrderInfo.carOrderId}" th:value="${carOrderInfo.carOrderId}">订单完成</button>
              <br/>
              <button type="button" class="btn btn-danger btn-sm" th:id="${'btnOrderDelete_' + carOrderInfo.carOrderId}" th:value="${carOrderInfo.carOrderId}">订单作废</button>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // 开关按钮插件
        $("#chkbxOrderStatusWaitConfirm").bootstrapSwitch();
        $("#chkbxOrderStatusWaitDepart").bootstrapSwitch();
        $("#chkbxOrderStatusFinish").bootstrapSwitch();
        $("#chkbxOrderStatusDelete").bootstrapSwitch();


        $("#btnSearch").click(function () {
            str = "";
            if($("#chkbxOrderStatusWaitConfirm").is(':checked')){
                str = str + ",'待确认'";
            };
            if($("#chkbxOrderStatusWaitDepart").is(':checked')){
                str = str + ",'待出发'";
            };
            if($("#chkbxOrderStatusFinish").is(':checked')){
                str = str + ",'订单完成'";
            };
            if($("#chkbxOrderStatusDelete").is(':checked')){
                str = str + ",'订单作废'";
            };
            str = str + " ";
            $("#selectedOrderStatusList").val(str.substr(1));
            $("#frmCarOrderManage").submit();
        });

        // 所有 订单确认btnOrderInfoOK、订单完成btnOrderFinish、订单作废btnOrderDelete 按钮
        $("button[id^='btnOrder']").click(function () {
            oprateOrderStatus(this);
        });

        /**
         * 订单状态更改
         * @param btnObj 按钮对象本身
         */
        function oprateOrderStatus(btnObj) {
            btnType = btnObj.id.split("_")[0];  // btnId format:  btnOrderXXXX_99(btnType_99)
            var data = {
                "oprateType": btnType,
                "carOrderId": btnObj.value,
                "orderStatus": $("#orderStatus" + btnObj.value).html()
            };
            $.ajax({
                type: "POST",
                url: "/yuecheApi/manageapi/orderInfoStatus",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    $("#orderStatus" + btnObj.value).html(data.orderStatus);
                    // 禁用按钮
//                $("#" + btnObj.id).addClass("disabled");
                    $("#" + btnObj.id).removeClass("btn-success btn-warning btn-danger");
                    $("#" + btnObj.id).addClass("btn-default");
                    $("#" + btnObj.id).attr("disabled", "disabled");
//                btnObj.disabled = true;

//                $("#" + btnObj.id).each(function(){
//                    if (this.value = btnObj.value) {
//                        this.disabled = true;
//                    }
//                });
                }
            });
        }
    });
</script>

</body>
</html>