<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_3.xsd" id="WebApp_ID" version="2.3">
  <display-name>myweixin_youtry</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>youtryServlet</servlet-name>
    <servlet-class>com.youtry.myweixin_youtry.servlet.CoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>youtryServlet</servlet-name>
    <url-pattern>/youtryServlet</url-pattern>
  </servlet-mapping>
  
<!--   
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>com.youtry.myweixin_youtry.servlet.InitServlet</servlet-class>
    //配置获取access_token所需参数appid和appsecret
    <init-param>
      <param-name>appid</param-name>
      <param-value>wxde94b700faa2bf44</param-value>
    </init-param>
    <init-param>
      <param-name>appsecret</param-name>
      <param-value>8919ff46e96695e488f497c3df5ccff1</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
   -->
</web-app>