<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">

<head>
<!-- <meta charset="UTF-8"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>陪教 统计/通知/报名</title>
<!--
<link rel="stylesheet" type="text/css" media="all" href="../../css/extrathyme.css" th:href="@{/css/extrathyme.css}" />
<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.5.1/themes/default/easyui.css" th:href="@{/jquery-easyui-1.5.1/themes/default/easyui.css}">
<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.5.1/themes/icon.css" th:href="@{/jquery-easyui-1.5.1/themes/icon.css}">
<link rel="stylesheet" type="text/css" href="../../jquery-easyui-1.5.1/demo/demo.css" th:href="@{/jquery-easyui-1.5.1/demo/demo.css}">
<script type="text/javascript" src="../../jquery-easyui-1.5.1/jquery.min.js" th:src="@{/jquery-easyui-1.5.1/jquery.min.js}"></script>
<script type="text/javascript" src="../../jquery-easyui-1.5.1/jquery.easyui.min.js" th:src="@{/jquery-easyui-1.5.1/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="../../jquery-easyui-1.5.1/jquery.easyui.mobile.js" th:src="@{/jquery-easyui-1.5.1/jquery.easyui.mobile.js}"></script>
 -->


<!-- 引入 Bootstrap -->
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../../css/teachtools.css" th:href="@{/css/teachtools.css}">
<script type="text/javascript" src="../../js/teachtools.js" th:src="@{/js/teachtools.js}"></script>
<script type="text/javascript" src="../../jquery-3.1.1/jquery-3.1.1.min.js" th:src="@{/jquery-3.1.1/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../../bootstrap-3.3.7/js/bootstrap.js" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>

</head>

<body>
  <h3>学校/组织/团体</h3>
  <form id='schoolForm' action="allhomeworks" method="POST">
    <div class="panel-group" id="accordion">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne2">霍营小学</a>
            <input type="hidden" th:id="selectedSchoolId" th:name="selectedSchoolId" th:value="defaulthuoying" />
            <input type="hidden" th:id="selectedGradeId" th:name="selectedGradeId" th:value="defaultGradeId" />
            <input type="hidden" th:id="selectedGradeClassId" th:name="selectedGradeClassId" th:value="defaultGradeClassId" />
          </h4>
        </div>
        <div id="collapseOne2" class="panel-collapse collapse">
          <div class="panel-body">
            <table id='tableSchools' class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="min-width40">年级</th>
                  <th class="min-width40">班级</th>
                </tr>
              </thead>
              <tbody>
                <tr th:name=${clsStat.count} th:each="cls,clsStat : ${allGradeAndClasses}">
                  <td th:text="${cls.grade}">一年级</td>
                  <td th:text="${cls.gradeClass}">一班</td>
                  <input type="hidden" th:id="${gradeId}" th:name="${gradeId}" th:value="${cls.gradeId}" />
                  <input type="hidden" th:id="${gradeClassId}" th:name="${gradeClassId}" th:value="${cls.gradeClassId}" />
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- 
    以下为指定某天作业情况
    <form id='schoolForm' action="onedayhomeworks" method="POST">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">霍营小学</a>
            <input type="hidden" th:id="selectedSchoolId" th:name="selectedSchoolId" th:value="defaulthuoying" />
            <input type="hidden" th:id="selectedGradeId" th:name="selectedGradeId" th:value="defaultGradeId" />
            <input type="hidden" th:id="selectedGradeClassId" th:name="selectedGradeClassId" th:value="defaultGradeClassId" />
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <table id='tableSchools' class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="min-width40">年级</th>
                  <th class="min-width40">班级</th>
                </tr>
              </thead>
              <tbody>
                <tr th:name=${clsStat.count} th:each="cls,clsStat : ${allGradeAndClasses}">
                  <td th:text="${cls.grade}">一年级</td>
                  <td th:text="${cls.gradeClass}">一班</td>
                  <input type="hidden" th:id=${"gradeId"} th:name=${"gradeId"} th:value="${cls.gradeId}" />
                  <input type="hidden" th:id=${"gradeClassId"} th:name=${"gradeClassId"} th:value="${cls.gradeClassId}" />
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
    -->

      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">通知/广播专用</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in1">
          <table class="table table-bordered table-hover">
            <tr>
              <td>
                <div class="panel-body">放假3天：2016/12/26 ~ 2016/12/30</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel-body">期末考试：2017/1/6</div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">报名/统计/反馈专用</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <table class="table table-bordered table-hover">
            <tr>
              <td>
                <div class="panel-body">舞蹈兴趣班报名</div>
            <tr>
              <td>
                <div class="panel-body">学习用具统计</div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">美唐团体</a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <table class="table table-bordered table-hover">
            <tr>
              <td>
                <div class="panel-body">穷游1日</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="panel-body">组织滑雪2017/1/1</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</body>
</html>